<% var block = options.block %>
<%- block._editable %>

<article class="sidebar_subnav">
	<h4 class="sidebar_subnav__heading">In This Section</h4>
	<ul><%- plugins.include('snippets/navigation-start-from.html', { start_from: block.start_from }) %></ul>
</article>